.input-note-container {
  padding: 10px;
  width: auto;
  background-color: #F14823 !important;
  display: flex;
  flex-direction: column;
}

.input-note-container button {
  margin-top: 10px;
}

.input-note-container input,
.input-note-container button,
.input-note-container textarea {
  color: white !important;
}