.note-card-container {
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 120px;
}

.note-card-container h2,
.note-card-container p,
.note-card-container p a {
  color: white !important;
}