.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('/images/bg.png');
}

.content-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.content-background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.input-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  padding: 20px 0 50px;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  padding: 20px 60px;
  overflow: auto;
}

.notes-container div {
  max-width: 400px;
}